In [6]:
#CHECK CONNECTION

import mysql.connector

# Establishing a connection to the database
cnx = mysql.connector.connect(user='root',
                              password='',
                              host='localhost',
                              database='myshop')

# Closing the connection
cnx.close()

In [7]:
# Establishing a connection to the database
cnx = mysql.connector.connect(user='root',
                              password='',
                              host='localhost',
                              database='myshop')

# Creating a cursor object
cursor = cnx.cursor()

# Executing a SELECT statement
# Inserting a new row
query = "INSERT INTO supplier (supplier_name, phone, email) VALUES ('Coffee maker','28594679','coffmaker@make.com')"
cursor.execute(query)

# Committing the transaction
cnx.commit()

# Closing the cursor and connection
cursor.close()
cnx.close()

In [8]:
# Establishing a connection to the database
cnx = mysql.connector.connect(user='root',
                              password='',
                              host='localhost',
                              database='myshop')

# Creating a cursor object
cursor = cnx.cursor()

# Executing a SELECT statement
# Inserting a new row
query = "select * from supplier"
cursor.execute(query)

# Fetching the results
for row in cursor.fetchall():
    print(row)

# Closing the cursor and connection
cursor.close()
cnx.close()

(1, 'Coffee maker', 28594679, 'coffmaker@make.com')

In [14]:
# Establishing a connection to the database
cnx = mysql.connector.connect(user='root',
                              password='',
                              host='localhost',
                              database='myshop')

# Creating a cursor object
cursor = cnx.cursor()

name = input("Enter the name of the supplier:\n")
phone = input("Enter the phone of the supplier:\n")
email = input("Enter the email of the supplier:\n")

# Executing a SELECT statement
# Inserting a new row
query = "INSERT INTO supplier (supplier_name, phone, email) VALUES (%s,%s,%s)"
data = (name,phone,email)
cursor.execute(query,data)

# Committing the transaction
cnx.commit()

# Closing the cursor and connection
cursor.close()
cnx.close()

Enter the name of the supplier:
Choco
Enter the phone of the supplier:
28594769
Enter the email of the supplier:
choco@gmail.com

In [20]:
# Establishing a connection to the database
cnx = mysql.connector.connect(user='root',
                              password='',
                              host='localhost',
                              database='myshop')

# Creating a cursor object
cursor = cnx.cursor()

id = int(input("Enter the ID of the supplier:\n"))
# Creating a cursor object
cursor = cnx.cursor()

# Executing a SELECT statement
# Inserting a new row
query = "select * from supplier where id = %s"
data = (id,)#tuple of one element
cursor.execute(query,data)

# Fetching the results
for row in cursor.fetchall():
    print(row)

# Closing the cursor and connection
cursor.close()
cnx.close()

Enter the ID of the supplier:
3

In [40]:
import pandas as pd
import pymysql

from sqlalchemy import create_engine
from sqlalchemy import text

# # Establishing a connection to the database
# cnx = mysql.connector.connect(user='root',
#                               password='',
#                               host='localhost',
#                               database='myshop')


engine = create_engine("mysql+pymysql://root:@localhost/myshop")
# query = "SELECT * FROM supplier"


with engine.begin() as con:
    # suppliers_df = pd.DataFrame()
    query = text("SELECT * FROM supplier")
    suppliers_df = pd.read_sql(query,con)
    # cnx.close()

In [41]:
suppliers_df

   id   supplier_name     phone               email
0   1    Coffee maker  28594679  coffmaker@make.com
1   2  Fruit paradise  28564968  frtparad@gmail.com
2   4           Choco  28594769     choco@gmail.com

In [48]:
import pandas as pd
import pymysql

from sqlalchemy import create_engine
from sqlalchemy import text

engine = create_engine("mysql+pymysql://root:@localhost/myshop")

with engine.begin() as con:
    query = text("SELECT * FROM supplier")
    suppliers_df = pd.read_sql(query,con)
    suppliers_df.to_csv("Suppliers.csv",index=False,encoding="utf8",sep=";")
    suppliers_df.to_excel("Suppliers.xlsx",index=False)

In [55]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost/myshop")

df = pd.read_excel(r"C:\Users\arturs.olekss\OneDrive - Grupo VASS\PythonCourse\Practical\SQL\Suppliers.xlsx")
df.to_sql(name="supplier",con=engine,if_exists="append",index=False)

3

  supplier_name     phone                email
0   Juice maker   2897679  juic.make@gmail.com
1   Vegy garden  21568969    veggard@yahoo.com
2    Tea garden  25498016         tg@gmail.com

In [71]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost/myshop")

categories = pd.read_excel(r"C:\Users\arturs.olekss\OneDrive - Grupo VASS\PythonCourse\Practical\SQL\Categories.xlsx",
                          converters={"name":str,"external_id":str},names=("name","external_id"))
categories.to_sql(name="categories",con=engine,if_exists="append",index=False)

3

         name external_id
0      Fruits        0001
1  Vegetables        0002
2      Drinks        0003

In [83]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost/myshop")

products = pd.read_excel(r"C:\Users\arturs.olekss\OneDrive - Grupo VASS\PythonCourse\Practical\SQL\Products.xlsx",
                          converters={"price":float,"category":str})
with engine.begin() as con:
    query = text("SELECT * FROM categories")
    categories_db = pd.read_sql(query,con)

products = products.merge(categories_db,left_on="category",right_on="external_id")
products = products.drop(columns=["name","external_id","category"])

col_ren = {"id":"category"}
products.columns = [col_ren.get(x,x) for x in products.columns]#rename
products.to_sql(name="products",con=engine,if_exists="append",index=False)