In [1]:
import sqlite3

# connect to database
conn = sqlite3.connect('example.db')

# create a cursor object
c = conn.cursor()

# create a table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

In [2]:
# insert data into the table
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# save the changes
conn.commit()

# retrieve data from the table
c.execute('SELECT * FROM stocks')
print(c.fetchall())

# close the connection
conn.close()

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [3]:
import pandas as pd

# connect to database
conn = sqlite3.connect('example.db')

stocks = pd.read_sql('SELECT * FROM stocks',conn)
# close the connection
conn.close()

In [6]:
import sqlite3

# connect to the database
conn = sqlite3.connect('example.db')

# create a cursor object
c = conn.cursor()

# create a table
c.execute("CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT, email TEXT)")

# insert data into the table using a prepared statement
user_data = ('John Doe', 'johndoe@example.com')
c.execute("INSERT INTO users (name, email) VALUES (?, ?)", user_data)

# retrieve data from the table using a prepared statement
c.execute("SELECT * FROM users WHERE name = ?", ('John Doe',))
row = c.fetchone()
print(row)

# close the connection
conn.close()

(1, 'John Doe', 'johndoe@example.com')